*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: fuenteheader;
    src: url("../images/fonts/tex-gyre-adventor/texgyreadventor-regular.otf") format("truetype");
    font-weight: lighter;
}
ul {
    list-style: none;
}



/* GRID AREA */



/* HEADER*/



.logo-index{
    margin: 0;
    padding: 25px 30px;
}
.logo-index img {
    height: 70px;
}
header .container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d8b988;
    
    
    
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
    
}
header nav a{
    font-family: fuenteheader;
    padding-right: 5px 5px;
    font-weight: bold;
    text-decoration: none;
    color: #774f0e;
    

}
header .reserva-turno{
    color: #eccb9a;
    background-color: #774f0e;
    border-radius: 10px;
    font-family: fuenteheader;
    padding: 10px;
}
nav a:hover{
    color:#b19465;
}

@media (min-width: 720px){
    header{
        position: fixed;
        width: 100% ;
        
    }
    header .container{
        
        flex-direction: row;
        justify-content: space-between;
        
    }
    header div nav{
        flex-direction: row;
        padding-bottom: 0;
        
        padding-right: 20px;
    }
    header div nav ul li a{
        padding-right: 10px;
    }
    #hero .container{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    #hero .texto{
        width: 75%;
        text-align: center;
        padding: 0px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #hero .img-principal{
        
        background-image: url("../images/images/img-main-1.jpg");
        background-size: cover;
        background-position: center center;
        height: 400px;
        width: 400px;
        margin-top: 150px;
        margin-left: 50px;
    }

    #pilares-trabajo .pilares{
        display: flex;
        justify-content: center;
        
    }


    #pilares-trabajo .container .pilares .pilar1 h2{
        margin-top: 0;
    }

    #pilares-trabajo .container .pilares .pilar1 p{
        display: block;
        margin-bottom: 30px;
        text-align: center;
    }
    #pilares-trabajo .container .pilares .pilar2 p{
        display: block;
        text-align: center;
        margin-bottom: 30px;
    }
    #pilares-trabajo .container .pilares .pilar3 p{
        display: block;
        text-align: center;
        margin-bottom: 30px;
    }

    #pilares-trabajo .pilar1{
        padding: 50px; 
    }

    #pilares-trabajo .pilar2{
        padding: 50px; 
    }

    #pilares-trabajo .pilar3{
        padding: 50px; 
    }
}
/* MAIN INDEX*/
h1 { font-size: 3.5em;}
h2 { font-size: 2.7em;}
h3 { font-size: 2em;}


body{
    margin: 0;
}
.img-principal{
    width: 400px;
    height: 400px;
    border-radius: 250px;
    
    
}
#hero{
    
    font-family: fuenteheader;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("../images/images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    

}
#hero h1{
    font-family: 'Caveat', cursive;
    font-size: 90px;
    color: #774f0e;
}
#hero h3{
    font-family: fuenteheader;
    font-size: 20px;
    color: #774f0e;
    margin-bottom: 10px;
}

#hero .sobre-mi-button{
    
    text-decoration: none;
    justify-content: center;
    font-family: fuenteheader;
    color: #eccb9a;
    background-color: #774f0e;
    font-size: 1em;
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
body a:hover{
    color:#b19465;
}

#filosofia .container{
    
    text-align: center;
    padding: 30px 12px;
}
#filosofia .container h2{
    font-family: 'Caveat', cursive;
    font-size: 55px;
    text-align: center;
    margin-bottom: 20px;
}
#filosofia .container p{
    font-family: fuenteheader;
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
}
#pilares-trabajo {
    background-color: #eccb9a;
    color: black;
    text-align: center;
    padding: 25px;
}
#pilares-trabajo .container{
    padding: 30px 12px;
    
}

#pilares-trabajo .container h2{
    font-family: 'Caveat', cursive;
    font-size: 55px;
}
#pilares-trabajo .container p{
    font-family: fuenteheader;
    font-style: italic;
    text-align: center;
  }

#pilares-trabajo .container .pilares p{
    display: none;

}

#pilares-trabajo .pilares{
    
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 25px;
    
}
.container .pilares .pilar1{
    background-image: url("../images/images/hero.jpg");
    border-radius: 15px;
    margin-right: 25px;
   
}
.container .pilares .pilar2{
    background-image: url("../images/images/hero.jpg");
    border-radius: 15px;
    margin-right: 25px;
}
.container .pilares .pilar3{
    background-image: url("../images/images/hero.jpg");
    border-radius: 15px;
    margin-right: 25px;
}






/* MAIN SOBRE MI */
/* MAIN SERVICIOS*/
/* MAIN RESERVA TURNO*/
.img-reserva{
    border-radius: 200px;
    width: 300px;
    height: 300px;
    margin-left: 650px;
    margin-top: 40px;
    position: absolute;
}
.container-form h1{
    font-family: 'Caveat', cursive;
    margin-bottom: 15px;
    font-size: 70px;
}
.container-form{
    width: 100%;
    max-width: 20px;
    margin-left: 15px;
    margin-top: 80px;
    display: grid;
    margin-top: 90px;
}

.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid #774f0e;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.container-form .btn-enviar{
    padding: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: #774f0e;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.container-form .btn-enviar:hover{
    background:#d8b988;
}
/* Footer */
.pie-pagina{
    background-color: #c49251;
    max-width: auto;
    margin: 0 auto;
    
    
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;

}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    font-family: "Caveat", cursive;
    color: #774f0e;
    margin-bottom: 25px;
    font-size: 35px;
}
.pie-pagina .grupo-1 .box p{
    font-family: fuenteheader;
    font-size: 15px;
    color: black;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #774f0e;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aquamarine;
}
.pie-pagina .grupo-2{
    background-color: #774f0e;
    padding: 15px 10px;
    text-align: center;
    color: white;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px) {
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    
    }
}