/*-----------------------------------*\
  #service.css
\*-----------------------------------*/



/*-----------------------------------*\
  #COMPONENTS
\*-----------------------------------*/
@import url('../components/card.css');
@import url('../components/btn.css');

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header.active { background-color: var(--marron-muy-clarito); }


/*-----------------------------------*\
  #SERVICES
\*-----------------------------------*/
.service { padding-block-start: calc(var(--section-padding) + 60px); }
.service .container h2{color: var(--marron-claro);}
.service-list {
  display: grid;
  gap: 25px;
}
.card-title {color: var(--marron-oscuro);}
.card-title { margin-block-end: 10px; }

.card ion-icon { font-size: 3.2rem; }

.card .body-sm { color: var(--blanco); }


/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/
/**
 * responsive mas largo de 768px screen
 */

 @media (min-width: 768px) {

  .service-list { grid-template-columns: 1fr 1fr; }

}